<!DOCTYPE html>
<html>

<head>

    <title>
        KrishiMitra Dashboard
    </title>

    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='style.css') }}">

</head>

<body class="dashboardBody">

    <h1 class="dashboardTitle">

        KrishiMitra Dashboard

    </h1>

    <div class="dashboardGrid">

        <!-- CROP -->

        <a href="/crop"
           class="card">

            Which Crop To Grow?

        </a>

        <!-- CHAT -->

        <a href="/chat"
           class="card">

            Chat

        </a>

        <!-- FERTILIZER -->

        <a href="/fertilizer"
           class="card">

            Which Fertilizer To Use

        </a>

        <!-- DISEASE -->

        <a href="/disease"
           class="card">

            Disease Detection

        </a>

        <!-- WEATHER -->

        <a href="/weather"
           class="card">

            Weather Conditions

        </a>

        <!-- ABOUT -->

        <a href="/about"
           class="card">

            About Us

        </a>

        <!-- Dataset Used -->

        <a href="/data"
           class="card">

            Dataset Used

        </a>


    </div>

</body>

</html>